&dma1 {
    status="okay";
};

&dma2 {
    status="okay";
};

&i2c1 {
    status = "disabled";
    mpu9250@68 {
        compatible = "invensense,mpu9250";
        reg = <0x68>;
        irq-gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
        status = "disabled";
        gyro-sr-div = <0>;
        gyro-dlpf = <250>;
        gyro-fs = <250>;
        accel-fs = <2>;
        accel-dlpf = "99";
    };
};

&usart1 {
    status = "okay";
    pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
    current-speed = <57600>;
    dmas = <&dma2 2 4 0x20480 0x03>;
    dma-names = "rx";
};

&usart2 {
    status = "okay";
    dmas = <&dma1 5 4 0x20480 0x03>;
    dma-names = "rx";
};

&usart3 {
    status = "okay";
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pc5>;
	pinctrl-names = "default";
    current-speed = <57600>;
};

&can1 {
	pinctrl-0 = <&can1_rx_pa11 &can1_tx_pa12>;
	pinctrl-names = "default";
	bus-speed = <125000>;
	status = "disabled";
};

/ {
    leds {
        compatible = "gpio-leds";
        run_led: led_pd1 {
            gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
            label = "Run LED";
        };
        err_led: led_pd0 {
            gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
            label = "Error LED";
        };
        motor_tx_enable: led_pb5 {
            gpios = <&gpiob 5 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
            label = "Motor Tx Enable";
        };
    };
};